resources:
  - manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
  - name: ghcr.io/aclerici38/pocket-id-operator
    newName: ghcr.io/aclerici38/pocket-id-operator
    newTag: v0.2.1@sha256:aedef9d0434b2b798de0529d16fb0e600cd11f25857b10c22028f18d47306c5b
