apiVersion: pocketid.internal/v1alpha1
kind: PocketIDOIDCClient
metadata:
  labels:
    app.kubernetes.io/name: pocket-id-operator
    app.kubernetes.io/managed-by: kustomize
  name: pocketidoidcclient-sample
spec:
  callbackUrls:
    - https://example.com/callback
  logoutCallbackUrls:
    - https://example.com/logout

  # Optional: Customize the secret that will be created
  # By default, creates a secret named "<metadata.name>-oidc-credentials"
  # with standard keys (client_id, client_secret, issuer_url, etc.)
  #
  # The client_secret is only generated once when the secret is first created.
  # To regenerate the secret (which will invalidate existing credentials), add the annotation:
  #   pocketid.internal/regenerate-client-secret: "true"
  # The annotation will be automatically removed after the secret is regenerated.
  secret:
    # enabled: true  # default is true
    # name: custom-secret-name  # defaults to "<metadata.name>-oidc-credentials"
    # keys:  # customize the secret key names
    #   clientId: my_client_id  # default: "client_id"
    #   clientSecret: my_client_secret  # default: "client_secret"
    #   issuerUrl: my_issuer_url  # default: "issuer_url"
    #   callbackUrls: my_callback_urls  # default: "callback_urls"
    #   logoutCallbackUrls: my_logout_urls  # default: "logout_callback_urls"
    #   discoveryUrl: my_discovery_url  # default: "discovery_url"
    #   authorizationUrl: my_authorization_url  # default: "authorization_url"
    #   tokenUrl: my_token_url  # default: "token_url"
    #   userinfoUrl: my_userinfo_url  # default: "userinfo_url"
    #   jwksUrl: my_jwks_url  # default: "jwks_url"
    #   endSessionUrl: my_end_session_url  # default: "end_session_url"
