apiVersion: pocketid.internal/v1alpha1
kind: PocketIDOIDCClient
metadata:
  labels:
    app.kubernetes.io/name: pocket-id-operator
    app.kubernetes.io/managed-by: kustomize
  name: pocketidoidcclient-sample
spec:
  # TODO(user): Add fields here
