name: Build and Push Image

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  test:
    uses: ./.github/workflows/test.yml

  lint:
    uses: ./.github/workflows/lint.yml

  build-push:
    name: Build and Push Image
    runs-on: ubuntu-latest
    needs: [test, lint]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        run: |
          REPO_OWNER=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')
          SHORT_SHA=$(git rev-parse --short HEAD)
          echo "repo_owner=${REPO_OWNER}" >> $GITHUB_OUTPUT
          echo "short_sha=${SHORT_SHA}" >> $GITHUB_OUTPUT

      - name: Build and push :main tag
        run: make docker-build docker-push IMG=ghcr.io/${{ steps.meta.outputs.repo_owner }}/pocket-id-operator:main

      - name: Build and push :commit-main tag
        run: make docker-build docker-push IMG=ghcr.io/${{ steps.meta.outputs.repo_owner }}/pocket-id-operator:${{ steps.meta.outputs.short_sha }}-main
        
  test-e2e:
    uses: ./.github/workflows/test-e2e.yml
