name: Build Image

on:
  workflow_call:
    inputs:
      image:
        description: Full image reference to build and push.
        required: true
        type: string
  workflow_dispatch:
    inputs:
      image:
        description: Full image reference to build and push.
        required: true
        type: string

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build and push image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        run: make docker-buildx IMG=${{ inputs.image }}
