name: Lint

on:
  workflow_call:
  workflow_dispatch:

permissions:
  actions: write
  contents: read

jobs:
  lint:
    name: Run linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
          cache-dependency-path: go.sum

      - name: Run linter
        run: make lint
