name: Tests

on:
  workflow_call:
  workflow_dispatch:

permissions:
  actions: write
  contents: read

env:
  # renovate: datasource=github-releases depName=kubernetes-sigs/controller-tools
  CONTROLLER_TOOLS_VERSION: v0.20.0
  # renovate: datasource=github-releases depName=kubernetes/kubernetes
  ENVTEST_K8S_VERSION: "1.35"

jobs:
  test:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
          cache-dependency-path: go.sum

      - name: Cache tool binaries
        uses: actions/cache@v5
        with:
          path: bin
          key: tools-${{ runner.os }}-controller-gen-${{ env.CONTROLLER_TOOLS_VERSION }}-envtest-${{ env.ENVTEST_K8S_VERSION }}

      - name: Run tests
        run: make test
