name: Test Chart

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-chart:
    name: Lint and install chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Install the latest version of kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/latest/kind-linux-$(go env GOARCH)
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind

      - name: Create kind cluster
        run: kind create cluster

      - name: Prepare pocket-id-operator image
        run: |
          make docker-build IMG=pocket-id-operator:v0.1.0
          kind load docker-image pocket-id-operator:v0.1.0

      - name: Install Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Lint Helm chart
        run: helm lint ./dist/chart

      - name: Install Helm chart
        run: |
          helm install my-release ./dist/chart \
            --create-namespace \
            --namespace pocket-id-operator-system

      - name: Check Helm release status
        run: helm status my-release --namespace pocket-id-operator-system
